<div class="jumbotron">
    <div class="container">
        <div class="hero">
        <img src="../app/img/bear.png" class="d-inline-block">
        <h1 class="cover-heading bubble d-inline">Comparison made easy.</h1>
        </div>
    <div class="filter-block col-md-10 offset-md-1">
        <ul class="nav nav-tabs product-options clearfix">
            <li class="nav-item col-md-4">
                <a class="nav-link active" href="#">Travel insurance <span class="float-xs-right"><i class="fa fa-suitcase" aria-hidden="true"></i></span></a>
            </li>
            <li class="nav-item  col-md-4">
                <a class="nav-link" href="#">Car insurance <span class="float-xs-right"><i class="fa fa-car" aria-hidden="true"></i></span></a>
            </li>
            <li class="nav-item  col-md-4">
                <a class="nav-link" href="#">Health insurance <span class="float-xs-right"><i class="fa fa-user-md" aria-hidden="true"></i></span></a>
            </li>
        </ul>
    <div class="product-filter">
        <form class="form-inline">
            <div class="form-group">
                <label for="travel-plan">I'm looking for a/an </label>
                <select class="form-control" id="travel-plan">
                    <option>annual </option>
                    <option>single </option>
                </select>
            </div>
            <div class="form-group">
                <label for="travel-pax"> travel plan for</label>
                <select class="form-control" id="travel-pax">
                    <option>just me</option>
                    <option>my family</option>
                    <option>2 people</option>
                    <option>3 people</option>
                    <option>4 people</option>
                    <option>5 people</option>
                </select>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="travel-place">I'm going to </label>
                <select class="form-control" id="travel-place">
                    <option>Asia </option>
                    <option>ASEAN </option>
                    <option>World</option>
                    <option>World exc. US</option>
                </select>
            </div>
            <div class="form-group">
                <label for="travel-pax"> travel plan for</label>
                <select class="form-control" id="travel-pax">
                    <option>just me</option>
                    <option>my family</option>
                    <option>2 people</option>
                    <option>3 people</option>
                    <option>4 people</option>
                    <option>5 people</option>
                </select>
            </div>
        </form>
        <br>
        <div class="col-md-8 offset-md-2">
        <button type="submit" class="btn btn-primary btn-block">OK, let's go!</button>
        </div>
    </div>
    </div>
    </div>
</div>