<div class="bg-img site-wrapper"><navbar></navbar><jumbo></jumbo></div>
    <h5 class="head-banner">Over 4 million people trust us to help them compare.</h5>
    <div class="container col-md-12 offset-md-1">
      <!-- Example row of columns -->
      <div class="row row-benefits">
        <div class="col-md-2">
          <img src="../app/img/icons/fair.png">
          <h6>UNBIASED</h6>
          <p><small>We don't play favourites with providers or plans.</small></p>
        </div>
        <div class="col-md-2">
          <img src="../app/img/icons/best.png">
          <h6>PERFECT FOR YOU</h6>
          <p><small>We get personal to help you find the best deal.</small></p>
       </div>
        <div class="col-md-2">
          <img src="../app/img/icons/easy.png">
          <h6>FREE AND EASY</h6>
          <p><small>We cut out the middle-man. Easy!</small></p>
        </div>
        <div class="col-md-2">
          <img src="../app/img/icons/umbrella.png">
          <h6>WIDEST VARIETY</h6>
          <p><small>Over 1000 insurance plans, credit cards and loans.</small></p>
        </div>
        <div class="col-md-2">
          <img src="../app/img/icons/savings.png">
          <h6>SAVINGS</h6>
          <p><small>More bang for your buck - latest promos and deals.</small></p>
        </div>
      </div>
    </div>